

// div {
//     // background: yellow !important;
// }


h2 {
    border-top: 1px solid #000;
    padding-top: 5px;
}

h3 {
    font-size: 1.3rem;
    margin-top: 40px;
}

.bg-primary {
    background-color: black !important;
}

.navbar-collapse > .nav.navbar-nav:nth-last-of-type(2) {
    flex-grow: 1;
}